/* admin menu's */
.classyfrieds_menu_left{
float:left;
font-size:13px;
font-weight:500;
border-radius:15px;
border:5px solid #ccc;
margin: 0.5%;
min-width:500px;
width:51%;
padding:10px;
-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 1.0);
-moz-box-shadow: 0 0 1em hsla(0, 0%, 0%, 1.0);
box-shadow: 0 0 1em rgba(0, 0, 0, 1.0);
}

.classyfrieds_menu_right{
float:left;
text-align:center;
font-size:14px;
font-weight:500;
border-radius:15px;
border:5px solid #ccc;
margin: 0.5%;
width:40%;
padding:10px;
overflow:hidden;
-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 1.0);
-moz-box-shadow: 0 0 1em hsla(0, 0%, 0%, 1.0);
box-shadow: 0 0 1em rgba(0, 0, 0, 1.0);
}

.classykey{
margin:1px;
float:left;
width:36%;
height:20px;
text-align:right;
overflow:hidden;
border:2px solid #ECECEC;
padding:4px 2px 0px 0px;
border-radius:5px;
background-color:#ECECEC;
}
.classyval{
margin:1px;
float:left;
width:59%;
height:24px;
text-align:left;
overflow:hidden;
background-color:white;
border:2px solid #ECECEC;
padding-left:2px;
border-radius:5px;
}
.classyval input{
width:100%;
}

.classyval_red{
margin:1px;
float:left;
width:59%;
height:24px;
text-align:left;
overflow:hidden;
background-color:#F78181;
border:2px solid blue;
padding-left:2px;
border-radius:5px;
}
.classyval_red input{
width:100%;
background-color:#F78181;
}

.classyval_green{
margin:1px;
float:left;
width:59%;
height:24px;
text-align:left;
overflow:hidden;
background-color:lightgreen;
border:2px solid blue;
padding-left:2px;
border-radius:5px;
}
.classyval_green input{
width:100%;
background-color:lightgreen;
}

.classyval_yellow{
margin:1px;
float:left;
width:59%;
height:24px;
text-align:left;
overflow:hidden;
background-color:yellow;
border:2px solid blue;
padding-left:2px;
border-radius:5px;
}
.classyval_yellow input{
width:100%;
background-color:yellow;
}

.cf_classyclear{
clear:both;
height:3px;
width:60%;
margin:3px auto;
border-bottom:2px solid #CCC;
}

.cf_clearclear{
clear:both;
}

.center{
text-align:center;
}

/* admin sidebar */
input.button{
background-color: #006;
color:black;
font-size:13px;
padding:1%;
border-radius:10px;
border:3px solid blue;
}

.smallinfo{
margin:2%;
padding:1%;
font-size:10px;
text-align:left;
background-color:white;
border:1px solid #ECECEC;
}

.classynotice{
text-align:center;
background-color:yellow;
border:2px solid #ECECEC;
margin: 3px auto;
border-radius:5px;
}

.classy_green{
font-size:22px;
font-weight:900;
color:lightgreen;
background-color:green;
}

.row{
border:2px solid #ECECEC;
background-color:#ECECEC;
margin:1%;
padding:1%;
}
.lrow{
float:left;
width:47%;
}
.rrow{
float:left;
width:47%;
}
